<!DOCTYPE html>
<html>
<head>
<title>Log In</title>
</head>
<body>
    <h1>Please log in</h1>
    <form method = "POST" action="/login">
        <div>
            <label>Enter your username:</label>
            <input type="text" name="username">
        </div>
        <div>
            <label>Enter Password:</label>
            <input type="text" name="password">
        </div>
        <div>
            <input type="hidden" name="browserFingerprint" id="browserFingerprint">
        </div>
        <button type="submit">Submit</button>
    </form>
</body>

<!-- As mentioned elsewhere, not sure how secure this is, as if you steal someones password and browser fingerprint 
  you can log on from anywhere, although regardless this adds an extra layer of security. If this can be made more 
  secure however, brilliant. -->
  <script src="https://cdn.jsdelivr.net/npm/@fingerprintjs/fingerprintjs@4.2.2/dist/fp.min.js"></script>
  <script>
      FingerprintJS.load()
        .then(fp => fp.get())
        .then(result => {
          const visitorId = result.visitorId;
          document.getElementById('browserFingerprint').value = visitorId;
          console.log(visitorId);
        });
    </script>
</html>