<!DOCTYPE html>
<html>
<head>
<title>Log In</title>
</head>
<body>
    <h1>Please register</h1>
    <form method = "POST" action="/register_submit"> 
        <div>
            <label>Enter your email:</label>
            <input type="text" name="email">
        </div>
        <div>
            <label>Enter your username:</label>
            <input type="text" name="username">
        </div>
        <div>
            <label>Enter Password:</label>
            <input type="text" name="password">
        </div>
        <button type="submit">Submit</button>
    </form>

</body>
</html>